<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogMingle</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</head>

<body>

    <form class="LogInForm" id="LogInForm">
        <div class="inputDiv">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter Your Email" id="email" required />
        </div>

        <div class="inputDiv">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" id="password" required />
        </div>

        <div>
            <input type="submit" class="SubmitBtn" value="Log In">
            <button class="closeBtn" id="closeBtn">Close</button>
        </div>
    </form>

    <div class="container1">
        <nav>
            <div class="logo">
                <img src="logo.png">
                <h3>BlogMingle</h3>
            </div>
            <div class="menuBar">
                <ul class="menu">
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                </ul>
            </div>
            <div class="AuthBtn">
                <a href="SignUpForm.html"><button class="SignUpBtn"> Sign Up</button></a>
                <button class="LogInBtn" id="LogInBtn"> Log in</button>
            </div>
        </nav>
    </div>


</body>

</html>